<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.una.alibabaarticles.mybatis.mapper.ArticlesMapper">
  <resultMap id="BaseResultMap" type="com.una.alibabaarticles.mybatis.model.Articles">
    <!--@mbg.generated-->
    <!--@Table articles-->
    <id column="aid" jdbcType="INTEGER" property="aid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="article_name" jdbcType="VARCHAR" property="articleName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    aid, `uid`, article_name, create_time, update_time
  </sql>
</mapper>