<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.una.alibabaarticles.mybatis.mapper.ContentMapper">
  <resultMap id="BaseResultMap" type="com.una.alibabaarticles.mybatis.model.Content">
    <!--@mbg.generated-->
    <!--@Table content-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="forward_cid" jdbcType="BIGINT" property="forwardCid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="feeling" jdbcType="VARCHAR" property="feeling" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="conver_image" jdbcType="VARCHAR" property="converImage" />
    <result column="forward_title" jdbcType="VARCHAR" property="forwardTitle" />
    <result column="forward_url" jdbcType="VARCHAR" property="forwardUrl" />
    <result column="content_type" jdbcType="INTEGER" property="contentType" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="thumbnail" jdbcType="VARCHAR" property="thumbnail" />
    <result column="hot_value" jdbcType="INTEGER" property="hotValue" />
    <result column="person_count" jdbcType="INTEGER" property="personCount" />
    <result column="review_count" jdbcType="INTEGER" property="reviewCount" />
    <result column="like_count" jdbcType="INTEGER" property="likeCount" />
    <result column="favorite_count" jdbcType="INTEGER" property="favoriteCount" />
    <result column="read_count" jdbcType="INTEGER" property="readCount" />
    <result column="read_count_dummy" jdbcType="INTEGER" property="readCountDummy" />
    <result column="is_top" jdbcType="INTEGER" property="isTop" />
    <result column="authorization" jdbcType="INTEGER" property="authorization" />
    <result column="rights" jdbcType="INTEGER" property="rights" />
    <result column="author" jdbcType="INTEGER" property="author" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `uid`, forward_cid, title, feeling, `type`, conver_image, forward_title, forward_url, 
    content_type, content, thumbnail, hot_value, person_count, review_count, like_count, 
    favorite_count, read_count, read_count_dummy, is_top, `authorization`, rights, author, 
    `status`, create_time
  </sql>
</mapper>